Django==2.2.6
djangorestframework==3.10.3
pep8-naming==0.8.2
pre-commit==1.18.3
pytz==2019.3
flake8==3.7.8
flake8-bugbear==19.8.0
flake8-docstrings==1.5.0
django-extensions==2.2.3
jupyter==1.0.0
ipython==7.8.0
psycopg2-binary==2.8.3
django-environ==0.4.5